.fondo {
    background-color: wheat;
}
.miTexto{
    font-size: 1em;
    color: black;
}

#principal{
    font-size: 70px;
    
}

.imagenes{
    width: 500px;
}
#titulos{
    width: 60vw;
    margin: auto;
    padding: 3em;
    transition: 1s;
    
}
#titulos:hover{
    background-color: azure;
}

.nombre{
    font-size: 2em;
    color: darkgrey;
}
.tarjetas{
    border: 2px solid black;
    width: fit-content;
    padding: 1em;
    border-radius: 2%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.tarjetas:hover{
    background-color: blanchedalmond;
}

#cards-container{
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid black;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}